@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #fff;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", sans-serif;
}

h2,
h3 {
  font-family: "Roboto", sans-serif;
  font-size: 19px;
}

.button {
  font-size: 12px;
  color: #fff;
  padding: 18px 22px 18px 22px;
  border-radius: 24px;
  text-decoration: none;
  box-shadow: 0 5px 10px #c5c5c5;
}
.button--primary {
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
}

.navbar {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 63px;
  background-color: #fff;
  box-shadow: 0px 5px 7px #cecece;
}
.navbar__logo {
  width: 164px;
}

footer {
  padding: 25px;
  background-color: #353535;
  color: #fff;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media screen and (min-width: 768px) {
  .footer-container {
    align-items: center;
  }
}
.footer-container__ohmyfood {
  height: 18px;
  filter: invert(100%);
  margin-bottom: 23px;
}

.footer-links__link {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
}
.footer-links__link:hover {
  text-decoration: underline;
}
.footer-links__link i {
  width: 23px;
  color: #fff;
}

.header {
  width: 100%;
}
.header__location {
  display: flex;
  height: 45px;
  background-color: #eaeaea;
  justify-content: center;
  align-items: center;
}
.header__location span i {
  margin-right: 18px;
}
.header__location span {
  font-weight: 500;
}
.header__about {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 43px 0 53px 0;
}
.header__about h2 {
  font-size: 20px;
  width: calc(100% - 146px);
  text-align: center;
  margin-bottom: 20px;
}
.header__about p {
  font-size: 16px;
  font-weight: 300;
  width: calc(100% - 70px);
  text-align: center;
  margin-bottom: 31px;
}

.operation {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 52px 20px 44px 20px;
}
.operation h3 {
  font-size: 20px;
  margin-bottom: 32px;
}

.step-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .step-cards {
    flex-direction: row;
  }
}

.step-card {
  display: flex;
  width: calc(100%);
  background-color: #f6f6f6;
  border-radius: 18px;
  padding: 32px 0 24px 0;
  position: relative;
  margin-bottom: 24px;
  box-shadow: 0 5px 10px #e5e5e5;
}
@media screen and (min-width: 768px) {
  .step-card {
    width: calc(33.3% - 20px);
    margin-left: 10px;
    margin-right: 10px;
  }
}
.step-card__step-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  font-size: 12px;
  border-radius: 12px;
  background-color: #9356dc;
  color: #fff;
  position: relative;
  left: -12px;
  margin-right: 11px;
}
.step-card__step {
  justify-content: center;
  align-items: center;
}
.step-card__step span {
  font-size: 14px;
  font-weight: 700;
}
.step-card__step span i {
  margin-right: 14px;
}
.step-card:hover {
  background-color: #f4eefc;
}
.step-card:hover span i {
  color: #9356dc;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 58px 20px 46px 20px;
}
.restaurants h3 {
  font-size: 21px;
  margin-bottom: 27px;
}

.restaurant-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .restaurant-cards {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.restaurant-card {
  width: calc(100%);
  border-radius: 14px;
  background-color: #fff;
  margin-bottom: 18px;
  box-shadow: 0 5px 7px #e5e5e5;
  position: relative;
  text-decoration: none;
  color: #000;
}
@media screen and (min-width: 768px) {
  .restaurant-card {
    width: calc(50% - 18px);
    margin-left: 9px;
    margin-right: 9px;
  }
}
@media screen and (min-width: 1440px) {
  .restaurant-card {
    width: calc(25% - 18px);
  }
}
.restaurant-card__image {
  width: 100%;
  height: 174px;
  object-fit: cover;
  border-radius: 14px 14px 0 0;
}
.restaurant-card__tag {
  position: absolute;
  width: 80px;
  top: 12px;
  right: 12px;
  padding: 10px 13px 8px 13px;
  border-radius: 2px;
  background-color: #99e2d0;
  font-size: 16px;
  font-weight: 700;
  color: #2a947a;
  text-align: center;
}
.restaurant-card__informations {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px 24px 19px 13px;
}
.restaurant-card__informations h4 {
  font-size: 19px;
  font-weight: 700;
}
.restaurant-card__informations p {
  font-size: 16px;
}
.restaurant-card__informations .fa-heart {
  position: absolute;
  top: 28px;
  right: 24px;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  color: #fff;
  transform: scale(1.2);
}
.restaurant-card__informations .fa-heart:hover {
  background: linear-gradient(to bottom left, #9356dc, #ff79da);
  color: transparent;
  text-shadow: none;
  -webkit-background-clip: text;
  background-clip: text;
  cursor: pointer;
}

.navbar-menu {
  box-shadow: none;
}
.navbar-menu > .back {
  position: absolute;
  left: 23px;
  top: 23px;
}
.navbar-menu > .back > a {
  color: #000;
}

.main-header {
  width: 100%;
  height: 260px;
}
.main-header__image {
  width: 100%;
  height: 260px;
}

.menu {
  position: relative;
  top: -50px;
  width: 100%;
  border-radius: 38px 38px 0 0;
  background-color: #f6f6f6;
}
.menu > .header {
  display: flex;
  justify-content: space-between;
  padding: 34px 38px 35px 18px;
  width: calc(100% - 56px);
  align-items: center;
}
.menu > .header > .header__restaurant {
  font-family: "Shrinkhand";
  font-size: 35px;
  font-weight: 900;
  font-style: italic;
}
.menu > .header > .header__like {
  font-size: 21px;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.menu > .dish {
  margin-bottom: 32px;
}
.menu > .dish > .dish__title {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 9px;
  margin-left: 20px;
}
.menu > .dish > .dish__separator {
  width: 40px;
  border: 2px solid #99e2d0;
  margin-bottom: 14px;
  margin-left: 20px;
}
.menu > .dish > .dish-choice {
  display: flex;
  flex-direction: column;
  margin: 0 14px 0 14px;
}
@media screen and (min-width: 1024px) {
  .menu > .dish > .dish-choice {
    flex-direction: row;
  }
}
.menu > .dish > .dish-choice > .dish-proposed {
  width: calc(100% - 28px);
  border-radius: 13px;
  padding: 15px 22px 11px 10px;
  margin-bottom: 15px;
  background-color: #fff;
  box-shadow: 0 4px 3px -4px #cecece;
}
@media screen and (min-width: 1024px) {
  .menu > .dish > .dish-choice > .dish-proposed {
    margin-left: 7.5px;
    margin-right: 7.5px;
  }
}
.menu > .dish > .dish-choice > .dish-proposed > .dish-proposed__dish-name {
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 4px;
}
.menu > .dish > .dish-choice > .dish-proposed > .dish-informations {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu > .dish > .dish-choice > .dish-proposed > .dish-informations > .dish-informations__dish-description {
  font-size: 15px;
  font-weight: 400;
}
.menu > .dish > .dish-choice > .dish-proposed > .dish-informations > .dish-informations__dish-price {
  font-size: 14px;
  font-weight: bold;
}
.menu > .purchase {
  display: flex;
  justify-content: center;
  padding-bottom: 83px;
}
.menu > .purchase > .button {
  font-size: 14px;
  padding: 15px 50px 15px 50px;
  box-shadow: 0 3px 4px 1px #cecece;
}

.footer-menu {
  position: relative;
  top: -50px;
}

/*# sourceMappingURL=style.css.map */
