.loader {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	background-image: linear-gradient(to bottom left, $color-primary, $color-secondary);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	animation: loading 1s normal forwards ease-in-out 0.5s;

	@keyframes rotate-forever {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}

	&__loading-spinner {
		animation-name: rotate-forever;
		animation-duration: 0.75s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
		height: 37px;
		width: 37px;
		border: 5px solid #fff;
		border-right-color: transparent;
		border-radius: 50%;
	}
}

@keyframes loading {
	100% {
		opacity: 0;
		z-index: -1;
	}
}

@keyframes loading__logo {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.header {
	&__location {
		background-color: #eaeaea;

		& > .container-location {
			display: flex;
			height: 45px;
			justify-content: center;
			align-items: center;
			max-width: 1440px;
			margin: auto;

			& span i {
				margin-right: 18px;
			}

			& span {
				font-weight: 500;
			}
		}
	}
	&__about {
		background-color: #f6f6f6;

		& > .container-about {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 43px 0 53px 0;
			max-width: 1440px;
			margin: auto;

			& h2 {
				font-size: 24px;
				width: calc(100% - 144px);
				text-align: center;
				margin-bottom: 20px;
			}

			& p {
				font-size: 18px;
				font-weight: 300;
				width: calc(100% - 68px);
				text-align: center;
				margin-bottom: 31px;
			}
		}
	}
}

.operation {
	background-color: #fff;

	& > .container-operation {
		display: flex;
		flex-direction: column;
		padding: 52px 20px 44px 20px;
		max-width: 1440px;
		margin: auto;

		h3 {
			font-size: 24px;
			margin-bottom: 32px;
		}
	}
}

.step-cards {
	display: flex;
	flex-direction: column;
	align-items: center;

	@media screen and (min-width: 768px) {
		flex-direction: row;
	}
}

.step-card {
	display: flex;
	width: calc(100%);
	background-color: #f6f6f6;
	border-radius: 18px;
	padding: 32px 0 24px 0;
	position: relative;
	margin-bottom: 24px;
	box-shadow: 0 5px 10px #e5e5e5;

	@media screen and (min-width: 768px) {
		width: calc(33.3% - 20px);
		margin-left: 10px;
		margin-right: 10px;
	}
	&__step-number {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 24px;
		height: 24px;
		font-size: 12px;
		border-radius: 12px;
		background-color: $color-primary;
		color: #fff;
		position: relative;
		left: -12px;
		margin-right: 11px;
	}

	&__step {
		justify-content: center;
		align-items: center;

		& span {
			font-size: 16px;
			font-weight: 700;
			& i {
				font-size: 20px;
				color: grey;
				margin-right: 25px;
			}
		}
	}

	&:hover {
		background-color: lighten($color-primary, 36%);

		span i {
			color: $color-primary;
		}
	}
}

.restaurants {
	background-color: #f6f6f6;

	& > .container-restaurants {
		padding: 58px 20px 46px 20px;
		max-width: 1440px;
		margin: auto;

		h3 {
			font-size: 24px;
			margin-bottom: 27px;
		}
	}
}

.restaurant-cards {
	display: flex;
	flex-direction: column;
	align-items: center;

	@media screen and (min-width: 768px) {
		flex-direction: row;
		flex-wrap: wrap;
	}
}

.restaurant-card {
	width: calc(100%);
	border-radius: 14px;
	background-color: #fff;
	margin-bottom: 18px;
	box-shadow: 0 5px 7px #e5e5e5;
	position: relative;
	text-decoration: none;
	color: #000;

	@media screen and (min-width: 768px) {
		width: calc(50% - 18px);
		margin-left: 9px;
		margin-right: 9px;
	}

	@media screen and (min-width: 1440px) {
		width: calc(25% - 18px);
	}

	&__image {
		width: 100%;
		height: 174px;
		object-fit: cover;
		border-radius: 14px 14px 0 0;
	}

	&__tag {
		position: absolute;
		width: 80px;
		top: 12px;
		right: 12px;
		padding: 10px 13px 8px 13px;
		border-radius: 2px;
		background-color: $color-tertiary;
		font-size: 16px;
		font-weight: 700;
		color: darken($color-tertiary, 37%);
		text-align: center;
	}

	&__informations {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		padding: 10px 24px 16px 13px;

		h4 {
			font-size: 18px;
			font-weight: 700;
			margin-bottom: 3px;
		}

		p {
			font-size: 17px;
		}

		.far.fa-heart,
		.fas.fa-heart {
			position: absolute;
			right: 25px;
			margin-top: 3px;
			font-size: 27px;
			color: #3d3d3d;
			transition: all 0.5s;
		}

		.fas.fa-heart {
			opacity: 0;

			&:hover {
				background: -webkit-linear-gradient(230deg, #9356dc, #ff79da);
				-webkit-background-clip: text;
				background-clip: text;
				-webkit-text-fill-color: transparent;
				animation: toTop 0.37s cubic-bezier(0, 0, 0.2, 1) both;
				animation-name: showSlowly;

				@keyframes showSlowly {
					0% {
						opacity: 0;
					}
					100% {
						opacity: 1;
					}
				}
			}
		}
	}
}
